[user]
	name = Ramiro Morales
	;email = ramiro@allvion.com
	email = cramm0@gmail.com
[github]
	user = ramiro
	token = 4105df65a2eb04bbb7ed6188295f2fcc
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	ci = commit
	st = status -s
	sta = status
	glog = log --graph
	co = checkout
	ghupd = pull --ff-only upstream master
	ghffpull = pull --ff-only upstream master
	ghpush = push origin master
	ghffpush = push origin master
	;incoming = log upstream/master..master
	;outgoing = log master..upstream/master
	lg = log --color --graph --pretty=format:'%h %C(blue)(%cr) %C(bold blue)<%an>%C(reset)%C(red)%d%C(reset) %s' --abbrev-commit --
	bra = branch
	rem = remote
	a = add
	b = branch
	c = commit
	d = diff
	s = status -s
	aa = add --all
	au = add -u
	dc = diff --cached
	pr = !sh -c \"git fetch upstream pull/${1}/head:pr/${1} && git checkout pr/${1}\"
[credential]
	helper = cache --timeout=3600
;[push]
;        default = simple
[push]
	default = simple
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
