[user]
	name = Ramiro Morales
	;email = ramiro@rmorales.net
	;email = ramiro@allvion.com
	email = cramm0@gmail.com
[github]
	user = ramiro
	token = 4105df65a2eb04bbb7ed6188295f2fcc
[include]
	path = .gitconfig.local
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
[alias]
	ci = commit
	st = status -s
	sta = status
	glog = log --graph
	co = checkout
	ghupd = pull --ff-only upstream master
	ghffpull = pull --ff-only upstream master
	ghpush = push origin master
	ghffpush = push origin master
	;incoming = log upstream/master..master
	;outgoing = log master..upstream/master
	lg = log --color --graph --pretty=format:'%h %C(blue)(%cr) %C(bold blue)<%an>%C(reset)%C(red)%d%C(reset) %s' --abbrev-commit --
	bra = branch
	rem = remote
[credential]
	helper = cache --timeout=3600
;[push]
;        default = simple
